### Example:
- data cleaning
- feature creation
- feature engineering
- Sample data virtualization

In [ ]:
!gdown --id 1gTEgsOhrx4jlk3b7u-2cylnPpx-GgXyt

/usr/local/lib/python3.10/dist-packages/gdown/cli.py:138: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1gTEgsOhrx4jlk3b7u-2cylnPpx-GgXyt
To: /content/Airbnb_Open_Data.csv
100% 35.9M/35.9M [00:00<00:00, 67.2MB/s]

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('/content/Airbnb_Open_Data.csv')

<ipython-input-4-6cc90d526c8d>:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/Airbnb_Open_Data.csv')

Read Data

In [ ]:
# Read the data from the file
df = pd.read_csv('/content/Airbnb_Open_Data.csv')

<ipython-input-5-69863fc11e58>:2: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/Airbnb_Open_Data.csv')

Extract certain amount of records to other file

In [ ]:
#if take only 50,000 records to test:
#df_filtered = df.head(50000)
#df_filtered.to_csv('filtered_data.csv', index=False)

Test to see if the data is read correctly and set display to max columns

In [ ]:
df.head()
pd.set_option('display.max_columns', None)

Change the column name (remove space)

In [ ]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

Get general idea of the data

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   name                            102349 non-null  object
 2   host_id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host_name                       102193 non-null  object
 5   neighbourhood_group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country_code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room_type                       102599 non-null  object
 14  construction_year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service_fee                     102326 non-null  object
 17  minimum_nights                  102190 non-null  float64
 18  number_of_reviews               102416 non-null  float64
 19  last_review                     86706 non-null   object
 20  reviews_per_month               86720 non-null   float64
 21  review_rate_number              102273 non-null  float64
 22  calculated_host_listings_count  102280 non-null  float64
 23  availability_365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

Check for null value

In [ ]:
print('amount of null values in the dataset:')

print(df.isnull().sum())

print('total amount of null values in the dataset: ' + str(df.isnull().sum().sum()))

amount of null values in the dataset:
id                                     0
name                                 250
host_id                                0
host_identity_verified               289
host_name                            406
neighbourhood_group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country_code                         131
instant_bookable                     105
cancellation_policy                   76
room_type                              0
construction_year                    214
price                                247
service_fee                          273
minimum_nights                       409
number_of_reviews                    183
last_review                        15893
reviews_per_month                  15879
review_rate_number                   326
calculated_host_listings_count       319
availability_365                     448
house_rules                        52131
license                           102597
dtype: int64
total amount of null values in the dataset: 190769

Remove duplicate data

In [ ]:
#Drop if the rows are the same and keep first one
df = df.drop_duplicates()
#Drop if there is any duplicate id and keep first one
df = df.drop_duplicates('host_id', keep="first")
df.info()
# duplicate = df['host_id'].duplicated().sum()
# print(duplicate)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102057 entries, 0 to 102057
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102057 non-null  int64
 1   name                            101808 non-null  object
 2   host_id                         102057 non-null  int64
 3   host_identity_verified          101768 non-null  object
 4   host_name                       101653 non-null  object
 5   neighbourhood_group             102028 non-null  object
 6   neighbourhood                   102041 non-null  object
 7   lat                             102049 non-null  float64
 8   long                            102049 non-null  float64
 9   country                         101525 non-null  object
 10  country_code                    101926 non-null  object
 11  instant_bookable                101952 non-null  object
 12  cancellation_policy             101981 non-null  object
 13  room_type                       102057 non-null  object
 14  construction_year               101843 non-null  float64
 15  price                           101810 non-null  object
 16  service_fee                     101784 non-null  object
 17  minimum_nights                  101657 non-null  float64
 18  number_of_reviews               101874 non-null  float64
 19  last_review                     86225 non-null   object
 20  reviews_per_month               86239 non-null   float64
 21  review_rate_number              101738 non-null  float64
 22  calculated_host_listings_count  101738 non-null  float64
 23  availability_365                101609 non-null  float64
 24  house_rules                     50215 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 21.0+ MB

Dealing with null data

REMOVAL

In [ ]:
#Drop specific columns
columns_to_drop = ['id','host_id','host_name','host_identity_verified','lat','long','license','name','neighbourhood','country_code','last_review','calculated_host_listings_count','house_rules','reviews_per_month']
df.drop(columns_to_drop, axis = 1, inplace=True)

In [ ]:
#Drop rows with missing values in the following columns
#df = df.dropna(columns='','')

#Drop all rows with missing values in any columns
df = df.dropna()

In [ ]:
print(df.isnull().sum())
print(df.info())
print(df.head())

neighbourhood_group    0
country                0
instant_bookable       0
cancellation_policy    0
room_type              0
construction_year      0
price                  0
service_fee            0
minimum_nights         0
number_of_reviews      0
review_rate_number     0
availability_365       0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 99625 entries, 0 to 102044
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   neighbourhood_group  99625 non-null  object
 1   country              99625 non-null  object
 2   instant_bookable     99625 non-null  object
 3   cancellation_policy  99625 non-null  object
 4   room_type            99625 non-null  object
 5   construction_year    99625 non-null  float64
 6   price                99625 non-null  object
 7   service_fee          99625 non-null  object
 8   minimum_nights       99625 non-null  float64
 9   number_of_reviews    99625 non-null  float64
 10  review_rate_number   99625 non-null  float64
 11  availability_365     99625 non-null  float64
dtypes: float64(5), object(7)
memory usage: 9.9+ MB
None
  neighbourhood_group        country instant_bookable cancellation_policy  \
0            Brooklyn  United States            False              strict
1           Manhattan  United States            False            moderate
2           Manhattan  United States             True            flexible
3            Brooklyn  United States             True            moderate
4           Manhattan  United States            False            moderate

         room_type  construction_year  price service_fee  minimum_nights  \
0     Private room             2020.0  $966        $193             10.0
1  Entire home/apt             2007.0  $142         $28             30.0
2     Private room             2005.0  $620        $124              3.0
3  Entire home/apt             2005.0  $368         $74             30.0
4  Entire home/apt             2009.0  $204         $41             10.0

   number_of_reviews  review_rate_number  availability_365
0                9.0                 4.0             286.0
1               45.0                 4.0             228.0
2                0.0                 5.0             352.0
3              270.0                 4.0             322.0
4                9.0                 3.0             289.0

Check if there anything with neighbourhood_group

In [ ]:
print(df.loc[:,'neighbourhood_group'].unique())
print(df['neighbourhood_group'].value_counts(ascending=True))

['Brooklyn' 'Manhattan' 'brookln' 'Staten Island' 'Bronx' 'Queens']
brookln              1
Staten Island      924
Bronx             2621
Queens           12889
Brooklyn         40671
Manhattan        42519
Name: neighbourhood_group, dtype: int64

We can see that there is one wrong value which is brookln, it should be Brooklyn

Replace brookln to Brooklyn

In [ ]:
df['neighbourhood_group'] = df['neighbourhood_group'].replace('brookln', 'Brooklyn')

In [ ]:
print(df.loc[:,'neighbourhood_group'].unique())
print(df['neighbourhood_group'].value_counts(ascending=True))

['Brooklyn' 'Manhattan' 'Staten Island' 'Bronx' 'Queens']
Staten Island      924
Bronx             2621
Queens           12889
Brooklyn         40672
Manhattan        42519
Name: neighbourhood_group, dtype: int64

Check country column

In [ ]:
print(df.loc[:,'country'].unique())
print(df['country'].value_counts(ascending=True))

['United States']
United States    99625
Name: country, dtype: int64

In [ ]:
#there is only one country so we can just drop it
df.drop('country', axis=1, inplace=True)

In [ ]:
#print(df.loc[:,'country'].unique())
#print(df['country'].value_counts(ascending=True))

Check for instant_bookable

In [ ]:
#since there is true and false, we can change it to bool
df['instant_bookable'] = df['instant_bookable'].astype('bool')
print(df.loc[:,'instant_bookable'].unique())
print(df['instant_bookable'].value_counts(ascending=True))

[False  True]
True     49585
False    50040
Name: instant_bookable, dtype: int64

Check for cancellation_policy

In [ ]:
print(df.loc[:,'cancellation_policy'].unique())
print(df['cancellation_policy'].value_counts(ascending=True))

['strict' 'moderate' 'flexible']
flexible    33089
strict      33163
moderate    33373
Name: cancellation_policy, dtype: int64

Check for room_type

In [ ]:
print(df.loc[:,'room_type'].unique())
print(df['room_type'].value_counts(ascending=True))

['Private room' 'Entire home/apt' 'Shared room' 'Hotel room']
Hotel room           108
Shared room         2151
Private room       45180
Entire home/apt    52186
Name: room_type, dtype: int64

Replace space with '_'

In [ ]:
df['room_type'] = df['room_type'].replace({' ': '_', '/': '_or_'}, regex=True)
print(df['room_type'].value_counts(ascending=True))

Hotel_room              108
Shared_room            2151
Private_room          45180
Entire_home_or_apt    52186
Name: room_type, dtype: int64

Check for construction_year

In [ ]:
print(df.loc[:,'construction_year'].unique())
print(df['construction_year'].value_counts(ascending=True))

[2020. 2007. 2005. 2009. 2013. 2015. 2004. 2008. 2010. 2019. 2011. 2012.
 2017. 2014. 2018. 2006. 2003. 2022. 2016. 2021.]
2016.0    4876
2004.0    4889
2013.0    4892
2021.0    4900
2017.0    4917
2018.0    4919
2011.0    4922
2007.0    4953
2015.0    4972
2022.0    4982
2003.0    4982
2012.0    4997
2005.0    5002
2010.0    5030
2020.0    5031
2009.0    5031
2019.0    5052
2006.0    5073
2008.0    5090
2014.0    5115
Name: construction_year, dtype: int64

Change to year to int

In [ ]:
df['construction_year'] = df['construction_year'].astype(int)

Check for price and service_fee

In [ ]:
#price and service_fee dtype in df.info() is object, convert it to float
#we also need to remove the $ sign from the price

df[['price', 'service_fee']] = df[['price', 'service_fee']].replace({'\$': '', ',': ''}, regex=True).astype(float)
#print(df['price'].head())
has_negative_prices = (df['price'] < 0).any()
has_negative_service_fee = (df['service_fee'] < 0).any()
print(has_negative_prices)
print(has_negative_service_fee)

False
False

combine price and service_fee

In [ ]:
#since they have no negative, we can add it both and create new columns called
#total_price
#total_price = price + service_fee
df['total_price'] = df['price'] + df['service_fee']
df = df.drop(['price', 'service_fee'], axis=1)
print(df['total_price'].head())

0    1159.0
1     170.0
2     744.0
3     442.0
4     245.0
Name: total_price, dtype: float64

Check negative value

minimum_nights     
number_of_reviews  
review_rate_number   
availability_365

In [ ]:
#columns minimum_nights and number_of_reviews should be int
df = df.astype({'minimum_nights': 'int', 'number_of_reviews': 'int','availability_365': 'int'})
columns_to_check_for_negative_values = ['minimum_nights','number_of_reviews','review_rate_number','availability_365']
has_negative_values = df[columns_to_check_for_negative_values].lt(0).any()
print(has_negative_values)

minimum_nights         True
number_of_reviews     False
review_rate_number    False
availability_365       True
dtype: bool

In [ ]:
df[columns_to_check_for_negative_values] = df[columns_to_check_for_negative_values].abs()
has_negative_values = df[columns_to_check_for_negative_values].lt(0).any()
print(has_negative_values)

minimum_nights        False
number_of_reviews     False
review_rate_number    False
availability_365      False
dtype: bool

overall data now should be

In [ ]:
df.info()
#df.to_csv('processed_data.csv',index='false')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99625 entries, 0 to 102044
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   neighbourhood_group  99625 non-null  object
 1   instant_bookable     99625 non-null  bool
 2   cancellation_policy  99625 non-null  object
 3   room_type            99625 non-null  object
 4   construction_year    99625 non-null  int64
 5   minimum_nights       99625 non-null  int64
 6   number_of_reviews    99625 non-null  int64
 7   review_rate_number   99625 non-null  float64
 8   availability_365     99625 non-null  int64
 9   total_price          99625 non-null  float64
dtypes: bool(1), float64(2), int64(4), object(3)
memory usage: 7.7+ MB